<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">

  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Agradecemos a preferência!</h3>
        <h4 class="mb-0 font-weight-light">Conheça nossas redes sociais.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/cargoxbr" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Siga-nos no Twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/cargoxb" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Curta-nos no Facebook">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/cargoxbr/" class="btn btn-neutral btn-icon-only btn-instagram btn-lg btn-round" ngbTooltip="Siga-nos no Instagram">
          <i class="fa fa-instagram"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/cargox-transportes/" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg"
         ngbTooltip="Vamos nos conectar">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://www.linkedin.com/in/cceciliavaz/" target="_blank">Desenvolvido por Ana Cecília</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
